*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
    font-size: 18px;
    font-family: Abril Fatface;
    /* padding: 20px; */
}

a{
    text-decoration: none;
}

.container{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    /* background-color: #ffffff; */
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.top{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    /* background-color: #ffffff; */
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: center;
    align-items: center;


}

.btn{
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: white;
    background-color: #3498db;
}

.btn:hover{
    cursor: pointer;
    background-color: #c9b311;
    scale: 1.01;
}

.btn1:hover{
    cursor: pointer;
    background-color: rgb(255, 229, 80);
    color: black;
    scale: 1.01;
}

.btn1 {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: white;
    background-color: #3d128c;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

th{
    cursor: pointer;
}

#employee-add,
#employee-upd{
    margin-left: auto;
    margin-right: auto;
}


#addEmployeeForm,
#updateEmployeeForm,
#employee_search{
    background-color: rgb(231, 231, 215);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 30px;
    border-radius: 20px;
    /* display: block; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* flex-direction: column; */
}


.color-transition-original{
    transition: background-color 5s ease-out;
}


#title-text{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    /* border-radius: 20px; */
}


#empl-list-title{
    display: none;
}


h1{
    text-align: center;
    margin-bottom: 20px;
}

h2{
    margin-bottom: 20px;
}

h3{
    font-size: 30px;
    margin-bottom: 20px ;
}

#updateEmployeeForm p{
    /* color: rgb(93, 89, 89); */
    font-size: 20px;
    text-align: center;
    color: #3d128c;
    text-shadow: 2px 2px  4px rgb(122, 122, 122);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 600;
    /* color: black; */
}


label{
    display: block;
    margin: 5px 0;
}

input{
    padding: 10px;
    width: 100%;
}

input[type="submit"]{
    margin: 14px 0;
    
}


select{
    padding: 10px 15px;
}

.span_class{
    display: block;
    font-size: 14px;
}


#errorContainer,
#errorContainer2{
    font-size: 20px;
    color: rgb(197, 191, 191);
    text-align: center;
    display: inline-block;
    padding: 20px;
    /* margin-bottom: 20px; */
}

/* ul li{
    font-size: 16px;
    list-style: none;
    margin: 10px;
} */



/* table  */

.container1 {
    /* max-width: 600px; */
    width: 100%;
    margin: 0 !important;
    /* background-color: #ffffff; */
    padding: 10px !important;
}

#employeeList{
    margin: 0 auto;
    overflow-x: auto !important;
    /* width: 600px; */
    height: 400px;
    max-width: 550px;
}

.employee-table {
    margin-top: 15px;
    border-collapse: collapse;
    /* max-width: 500px; */
    font-size: 16px;
    /* overflow-x: auto; */
}

.employee-table th,
.employee-table td {
    border: 1px solid #ddd;
    /* Add borders for better visibility */
    padding: 8px;
    /* Add padding to the cells */
    white-space: nowrap;
    /* Prevent text wrapping */
}

.employee-table th {
    background-color: #fff8bf;
    /* Add background color for header */
}


@media only screen and (max-width: 700px){
        
    .container1 {
        /* max-width: 900px; */
        width: 100%;
        margin: 0 auto;
        /* background-color: #ffffff; */
        padding: 14px;
    }
    
    .employee-table {
        margin-top: 15px;
        border-collapse: collapse;
        /* width: 40px; */
        /* max-width: 20px; */
        font-size: 12px;
        overflow-x: auto;
    }

    #employeeList{
        margin: 0 auto;
        overflow-x: auto !important;
        /* width: 600px; */
        height: 400px;
        max-width: 400px;
    }

}

@media only screen and (max-width: 600px){
    #employeeList{
        margin: 0 auto;
        overflow-x: auto !important;
        /* width: 600px; */
        height: 400px;
        max-width: 340px;
    }
}

@media only screen and (max-width: 500px){
    #employeeList{
        margin: 0 auto;
        overflow-x: auto !important;
        /* width: 600px; */
        height: 400px;
        max-width: 240px;
    }
}